[Desktop Entry]
Name=WoW-D3D12
Comment=Play World of Warcraft using DirectX12
Exec="/home/lars/Documents/Development/ArchLinux/BashScripts/worldofwarcraft.sh" --d3d12
Icon=/home/lars/Pictures/Icons/wow_cata_icon3.png
Terminal=true
Type=Application
Categories=Game;
